<h1> Bookmark Demo</h1>

<ul>
	<% @bookmarks.each do |bookmark|%>
		<li>
			<% if bookmark.favorite %>*	<% end %>
			<%= link_to bookmark.title, bookmark.url %>	
		</li>
	<% end %>

</ul>

<%= link_to "Create New Bookmark", new_bookmark_path%>